<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1>Welcome, <%= username %>! </h1>
      <h2></h2>
    </header>

    <main>
      <p>
        My shark be with you.
      </p>
      
      
      <a class=button id="pagebutton" href="/messages/lurkmessages">Lurk Messages</a>
      
      
    </main>


  </body>
  <footer>
      <p>
        <a class="button" id="twitchbutton" href="/auth/logout">Log off</a> 
        <% if (url != null) { %>
        <a class="button" id="twitchbutton" href=<%= url %>>Re-Authorize Bot</a>
        <% } %>
      </p>
  </footer>
</html>
